appdirs==1.4.4
attrs==19.3.0
black==19.10b0
click==7.1.2
pathspec==0.8.0
pep8==1.7.1
pip==20.3.3
pycodestyle==2.6.0
pydocstyle==5.0.2
regex==2020.6.8
setuptools==41.2.0
snowballstemmer==2.0.0
toml==0.10.1
typed-ast==1.4.1
wheel==0.34.2